__pycache__/
*.pyc
dist/
venv/
.venv/
.devcontainer/
.idea/
.vscode/
.blenderkit/
.blender/
*.zip
*.7z
*.tar.gz
*.tar.xz
# --- hygiene ---
*.bak
*.log
*.tmp
*.cache
*.orig

# logs & sorties runtime
ares/logs/**
ares/summary/*.json
